<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-calendar/0.2.5/css/calendar.css"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-lg-6" #divCanvas>
      <canvas #canvas id="DemoCanvas"
        style="background: url('./assets/images/1.gif');background-repeat: no-repeat;background-size: contain;"></canvas>
    </div>
    <div class="col-lg-6 col-md-8">
      <div class="panel">
        <div class="panel-heading" style="background-color:rgb(255, 255, 255);">
          <div class="row">
            <div class="col-lg-7">
              <img class="img-resize" src="../assets/images/KU_Logo.png" alt="KU_Logo" (click)="login()">
            </div>
            <!-- <label style="margin-right:500px">ระบบจองข้อใช้เครื่องคอมพิวเตอร์</label> -->
            <div>
              <div class="btn-group" style="margin-top:7%">
                <button type="button" class="btn btn-rounded"
                  style="background-color:rgb(79, 204, 37);color: white;width: 150px;"
                  (click)="loginuser()">จองเครื่อง</button>
                <!-- <button class="btn btn-secondary btn-danger" style="width:300px;"
              (click)="closeschedule()">จัดการการปิดให้บริการ</button> -->
                <button type="button" class="btn btn-rounded" (click)="setadmin()"
                  style="color: rgb(255, 255, 255);width: 150px;background-color: rgb(176, 112, 225)">จัดการการจอง</button>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-body" style="background-color: #ffffff; height: 620px;">
          <!-- <div class="container">
            <div class="row"><br />
              <div class="col-md-12">
                <div class="progress">
                  <div class="one success-color"></div>
                  <div class="two success-color"></div>
                  <div class="three success-color"></div>
                  <div class="progress-bar progress-bar-success" style="width: 28%"></div>
                </div>
              </div>
            </div>
          </div><br> -->
          <div *ngIf="isFormReady">
            <form [formGroup]="reserving">
              <div class="row">
                <h6 style="margin-left:20px"><span class="fas fa-clipboard-list"
                    style="color:rgb(112, 204, 120);font-size: 1.5em;margin-top: -10px"></span>&nbsp; ข้อมูลการจอง</h6>
              </div>
              <!-- <hr style="width: 20%;border-width:3px 10px 20px;background-color: yellow;margin-top: -3px" align="left"> -->

              <!-- <button class="btn btn-outline-success" style="margin-top:-90px;height: 40px;margin-left: 650px"(click)="open(content)">ผังที่นั่ง</button> -->
              <br>
              <div class="row" style="margin-top: -10px">
                <div class="col-lg-2"></div>
                <label class="col-lg-4">เลือกวันที่ต้องการ :</label>
                <div class="input-group" style="width:250px;">
                  <input #date class="btn-rounded form-control" [attr.disabled]="lastSelectedSeat" type="date"
                    formControlName="scheduleDate" (change)="getPeriodForDate(date.value);">
                  <!-- <div class="form-group inputWithIcon">
                    <div class="input-group">
                      <input #date class="form-control input-rounded" [attr.disabled]="lastSelectedSeat"
                        formControlName="scheduleDate" (change)="getPeriodForDate(date.value);" style="width:250px;"
                        placeholder="dd-mm-yyyy" ngbDatepicker #d="ngbDatepicker">
                    </div>
                    <i class="far fa-calendar " (click)="d.toggle()" aria-hidden="true"></i>
                  </div> -->
                </div>
              </div><br>
              <div class="row" style="margin-top: -10px">
                <div class="col-lg-2"></div>
                <label class="col-lg-4">จำนวนชั่วโมงที่ต้องการ :</label>
                <div class="input-group" style="width:250px;">
                  <select [attr.disabled]="lastSelectedSeat" class="btn-rounded form-control" type="text"
                    formControlName="slots">
                    <option *ngFor="let hour of timedata" [value]="hour.id">{{hour.hour}}</option>
                  </select>
                </div>
              </div><br>
              <div class="row" style="margin-top: -10px">
                <div class="col-lg-2"></div>
                <label class="col-lg-4">เลือกเวลาที่ต้องการ :</label>
                <div class="input-group" style="width:250px;">
                  <select [attr.disabled]="lastSelectedSeat" #time class="btn-rounded form-control" type="text"
                    formControlName="periodId">
                    <!-- <option value="">--Select Time--</option> -->
                    <option [value]="period.id" *ngFor="let period of perioddata">{{period.code}}</option>
                  </select>
                </div>
              </div><br>

              <div class="row" style="margin-top: -10px">
                <div class="col-lg-2"></div>
                <label class="col-lg-4">เลือกประเภทเครื่อง :</label>
                <div class="input-group" style="width:250px;">
                  <select [attr.disabled]="lastSelectedSeat" class="btn-rounded form-control" type="text"
                    formControlName="seatTypeId">
                    <option *ngFor="let type of typedata" [value]="type.id">{{type.name}}</option>
                  </select>
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-8"></div>
                <button *ngIf="lastSelectedSeat" class="btn-rounded form-control"
                  style="width:125px;color: white;background: rgb(79, 204, 37)" (click)="refresh()">กลับ</button>
                <!-- <div class="col-lg-4"></div> -->
                <button *ngIf="!lastSelectedSeat" class="btn-rounded form-control"
                  style="width:125px;color: white;background: rgb(79, 204, 37)"
                  (click)="getSeatSchedule()">เช็คเครื่องว่าง</button>
                  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
                <!-- <div class="col-xs-1"></div> -->
                <!-- <button class="btn-rounded form-control" style="width:125px;color: white;background: rgb(79, 204, 37)"
                  (click)="getSeatSchedule()">เลือกเครื่อง</button> -->
              </div>
              <div class="row">
                <div class="col-lg-2"></div>
                <label class="col-lg-4">หมายเลขเครื่อง :</label>
                <input class="input1 input-group" formControlName="seatCode"
                  style="width:100px;height: 80px;margin-left: 115px;font-size: 40px;color: #5bb75b;background-color: white "
                  disabled>
              </div>
              <div *ngIf="lastSelectedSeat">
                <div class="row">
                  <h6 style="margin-left:20px"><span class="fas fa-user"
                      style="color:rgb(112, 204, 120);font-size: 1.5em;"></span>&nbsp;กรอกข้อมูลของท่านเพื่อยืนยันการจอง
                  </h6>
                </div>

                <br>
                <div class="row" style="margin-top: -10px">
                  <div class="col-lg-2"></div>
                  <label class="col-lg-4">ชื่อผู้ใช้ :</label>
                  <div class="input-group" style="width:250px">
                    <input type="text" class="btn-rounded form-control" formControlName="userName"
                      placeholder="Username" [ngClass]="{ 'is-invalid': f.userName.touched  && f.userName.errors }">
                    <div *ngIf=" f.userName.touched && f.userName.errors" class="invalid-feedback" style="color: red">
                      <div *ngIf="f.userName.errors.required">กรุณากรอก Username</div>
                    </div>
                  </div>
                </div><br>
                <div class="row" style="margin-top: -10px">
                  <div class="col-lg-2"></div>
                  <label class="col-lg-4">รหัสผ่าน :</label>
                  <div class="input-group" style="width:250px;">
                    <input type="password" class="btn-rounded form-control" formControlName="password"
                      placeholder="Password" [ngClass]="{ 'is-invalid': f.password.touched  && f.password.errors }">
                    <div *ngIf=" f.password.touched && f.password.errors" class="invalid-feedback" style="color: red">
                      <div *ngIf="f.password.errors.required">กรุณากรอก Password</div>
                    </div>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-lg-7"></div>
                  <button type="button" class="btn-rounded form-control"
                    style="width:125px;color: white;background: rgb(79, 204, 37)" (click)="reserve()">จอง
                  </button><br>
                </div>
                <div class="panel-heading1"></div>
              </div>
            </form>
          </div>
          <pre *ngIf="isFormReady">{{reserving.value | json}}</pre>
        </div>
      </div>
    </div>


    <!-- <div class="col-3 input-effect">
          <input class="effect-17" type="text" placeholder="" >
            <label> <i style="font-size:22px" class="fa fa-user"></i> First Name</label>
            <span class="focus-border"></span>
        </div> -->

    <!-- -----------------------------------modal create-------------------------------------- -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">รายละเอียดผังที่นั่ง</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <table class="table">
            <thead>
              <tr style="background-color:#5bb75b">
                <th scope="col" style="text-align:center;font-size: 20px">
                  <font color="#fff">Zone</font>
                </th>
                <th scope="col" style="text-align:center;font-size: 20px">
                  <font color="#fff">Seat</font>
                </th>
                <th scope="col" style="text-align:center;font-size: 20px">
                  <font color="#fff">Type</font>
                </th>
                <th scope="col" style="text-align:center;font-size: 20px">
                  <font color="#fff">Period</font>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align:center;font-size: 20px">A</td>
                <td style="text-align:center;font-size: 20px">A1-A32</td>
                <td style="text-align:center;font-size: 20px">Windows</td>
                <td style="text-align:center;font-size: 20px">1 Period - 3 Period</td>
              </tr>
              <tr>
                <td style="text-align:center;font-size: 20px">B</td>
                <td style="text-align:center;font-size: 20px">B1-B51</td>
                <td style="text-align:center;font-size: 20px">Windows</td>
                <td style="text-align:center;font-size: 20px">1 Period - 3 Period</td>
              </tr>
              <tr>
                <td style="text-align:center;font-size: 20px">C</td>
                <td style="text-align:center;font-size: 20px">C1-22</td>
                <td style="text-align:center;font-size: 20px">Windows</td>
                <td style="text-align:center;font-size: 20px">1 Period - 3 Period</td>
              </tr>
              <tr>
                <td style="text-align:center;font-size: 20px">D</td>
                <td style="text-align:center;font-size: 20px">D1-D24</td>
                <td style="text-align:center;font-size: 20px">Mac</td>
                <td style="text-align:center;font-size: 20px">1 Period - 3 Period</td>
              </tr>
              <tr>
                <td style="text-align:center;font-size: 20px">E</td>
                <td style="text-align:center;font-size: 20px">E1-E9</td>
                <td style="text-align:center;font-size: 20px">Empty Machine</td>
                <td style="text-align:center;font-size: 20px"> - </td>
              </tr>
              <tr>
                <td style="text-align:center;font-size: 20px">E</td>
                <td style="text-align:center;font-size: 20px">E10-E36</td>
                <td style="text-align:center;font-size: 20px">Windows</td>
                <td style="text-align:center;font-size: 20px">1 Period - 3 Period</td>
              </tr>
              <tr>
                <td style="text-align:center;font-size: 20px">F</td>
                <td style="text-align:center;font-size: 20px">F1-F12</td>
                <td style="text-align:center;font-size: 20px">Windows</td>
                <td style="text-align:center;font-size: 20px">1 Period - 3 Period </td>
              </tr>
              <tr>
                <td style="text-align:center;font-size: 20px">G</td>
                <td style="text-align:center;font-size: 20px">G1-G7</td>
                <td style="text-align:center;font-size: 20px">Scanner</td>
                <td style="text-align:center;font-size: 20px">1 Period - 2 Period</td>
              </tr>
              <tr>
                <td style="text-align:center;font-size: 20px">P</td>
                <td style="text-align:center;font-size: 20px">P1-P2</td>
                <td style="text-align:center;font-size: 20px">Booking Machine</td>
                <td style="text-align:center;font-size: 20px"> - </td>
              </tr>
              <tr>
                <td style="text-align:center;font-size: 20px">S</td>
                <td style="text-align:center;font-size: 20px">S1-S10</td>
                <td style="text-align:center;font-size: 20px">Empty Machine</td>
                <td style="text-align:center;font-size: 20px"> - </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </ng-template>
    <!-- ----------------------sss -->
    <!-- <ng-template #alert let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">รายละเอียดผังที่นั่ง</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
      </div>
    </ng-template> -->