.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(160, 206, 162);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(243, 33, 33);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(243, 33, 33);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ------------------------------------------ */
.TableLine {
    border-top-style: none;
    border-right-style: none;   
    border-bottom-style: none;
    border-style: rounded;
    
    border-left-style: solid;   
    border-left-width: 1px;
    border-left-color: #c2c2c2;
       }

       input[type=text] {
        border: 1px solid rgb(55, 194, 62);
        /* border-radius: 4px; */
      }
      select[type=text] {
        border: 1px solid rgb(55, 194, 62);
        /* border-radius: 4px; */
      }
      span[type=text] {
        border: 1px solid rgb(55, 194, 62);
        background-color: rgb(55, 194, 62)
      }
    /* ----------btn------------- */
    .btn-rounded {
      border-radius: 25px;
    }
    .input-rounded {
      border-radius: 25px;
    }
    .img-resize {
      width: 64px;
      height: 80px;
      }
    /* <label class="left">เลือกเวลาที่ต้องการ :</label>
    <div class="input-group" style="width:250px;">
      <select #periodData class="btn-rounded form-control" type="text"
        (change)="seard(date.value,periodData.value);">
        <option [value]="period.id" *ngFor="let period of perioddata">{{period.name}}</option>
      </select>
    </div> */