<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-calendar/0.2.5/css/calendar.css"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-lg-6">
      <canvas #canvas id="DemoCanvas" style="background: url('./assets/images/KPlan.gif');background-repeat: no-repeat;
background-size: contain;"></canvas>
    </div>
    <div class="col-md-6 ">
      <div class="panel">
        <div class="panel-heading" style="background-color:rgb(255, 255, 255);">
          <div class="btn-group " role="group">
            <button type="button" class="btn btn-rounded"
              style="background-color:rgb(79, 204, 37);color: white;width: 150px;"
              (click)="loginuser()">จองเครื่อง</button>
            <button type="button" class="btn btn-rounded" (click)="setadmin()"
              style="color: rgb(255, 255, 255);width: 150px;background-color: rgb(176, 112, 225)">จัดการการจอง</button>
          </div>
        </div>
        <div class="panel-body" style="background-color: #ffffff; height: 620px;">

          <div *ngIf="isFormReady">
            <form [formGroup]="reserving">
              <div class="row" style="margin-top: -10px">
                <label class="left">เลือกวันที่ต้องการ :</label>
                <div class="left input-group" style="width:250px;">
                  <input class="btn-rounded form-control" formControlName="scheduleDate" disabled>
                </div>
              </div><br>
              <div class="row" style="margin-top: -10px">
                <label class="left">เลือกเวลาที่ต้องการ :</label>
                <div class="input-group" style="width:250px;margin-left: 88px">
                  <select class="btn-rounded form-control" type="text" formControlName="periodId" disabled>
                    <option value="">--Select Time--</option>
                    <option [value]="period.id" *ngFor="let period of perioddata">{{period.name}}</option>
                  </select>
                </div>
              </div><br>
              <div class="row" style="margin-top: -10px">
                <label class="left">จำนวนชั่วโมงที่ต้องการ :</label>
                <div class="input-group" style="width:250px;margin-left: 66px">
                  <select class="btn-rounded form-control" type="text" formControlName="availablePeriod" disabled>
                    <option *ngFor="let hour of timedata" [value]="hour.id">{{hour.hour}}</option>
                  </select>
                </div>
              </div><br>
              <div class="row" style="margin-top: -10px">
                <label class="left">หมายเลขเครื่อง :</label>
                <input class="input1 input-group" formControlName="seatCode"
                  style="width:100px;height: 80px;margin-left: 115px;font-size: 40px;color: #5bb75b;background-color: white "
                  disabled>
              </div>
              <button (click)="changeSeat()">Change</button> -->
              <!-- <pre>{{reserving.value | json}}</pre> -->
            <!-- </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->