.user{
    margin-left: 30px;
  }
  .pass{
    margin-left: 40px;
  }
  .login{
    margin-left: 50px;
  }
  .centered {
    text-align: center;
    font-size: 0;
  }
  .date {
    margin-left: 35px;
  }
  .hour {
    margin-left: 240px;
  }
  .time {
    margin-left: 235px;
  }
  .user1 {
    margin-left: 35px;
  }
  .pass1 {
    margin-left: 235px;
  }
  .but1 {
    margin-left: 65px;
  }
  .panel{
    border-radius:0px;
    padding: 0px;
    border: none;
  }
  
  .panel-heading{
    line-height: 1.42857143 !important;
    color: #58666e !important;
  }
  
  .panel-heading,.fc-head{
    padding: 0px;
    background: #F9F9F9;
    padding: 20px;
    padding-left: 430px;
    border-bottom: 3px solid rgb(248, 240, 6);
  }
  .panel-body{padding-bottom: 50px;padding-top: 30px;}
  
  .btn-rounded {
    border-radius: 25px;
  }
  
  .input-rounded{
    border-radius: 25px;
  }
  
  .btn-round1 {
    border-radius: 25px;
  }
  
  .left{
    margin-left: 100px;
  }
  
  .input1{
    border:1px solid white;
  }