<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="modal-header">

  <h4 class="modal-title"> <span class="fa fa-plus"
      style="color:rgb(55, 194, 62);font-size: 1.5em;margin-top: 8px"></span>จัดการเครื่องคอมพิวเตอร์</h4>
</div>
<div class="modal-body">
  <div *ngIf="isFormReady">
    <form [formGroup]="zones">

      <div class="form-row align-items-center">

        <div class="col-sm-4">
          <label>Seat :</label>
          <input type="text" class="input-rounded form-control" formControlName="code" disabled>
        </div>

        <div class="col-sm-4">
          <label>Name :</label>
          <input type="text" class="input-rounded form-control" formControlName="zoneName" disabled>
        </div>

        <div class="col-sm-4">
            <label>Seat Type :</label>
            <select class="input-rounded form-control" type="text" formControlName="seatTypeId">
              <option *ngFor="let seats of seatdata" [value]="seats.id">{{seats.name}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Seat Status :</label>
            <select class="input-rounded form-control" type="text" formControlName="seatStatusId">
              <option *ngFor="let status of statusseat" [value]="status.id">{{status.name}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Zone Status :</label>
            <select class="input-rounded form-control" type="text" formControlName="zoneId">
              <option *ngFor="let zonename of zonenames" [value]="zonename.id">{{zonename.code}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Zone Status :</label>
            <select class="input-rounded form-control" type="text" formControlName="zoneStatusId">
              <option *ngFor="let statuszones of statuszone" [value]="statuszones.id">{{statuszones.name}}</option>
            </select>
          </div>

      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="update()">บันทึก</button>
</div>

<pre>{{zones.value | json}}</pre>
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="modal-header">
 
  <h4 class="modal-title"> <span class="fa fa-plus" style="color:rgb(55, 194, 62);font-size: 1.5em;margin-top: 8px"></span>จัดการเครื่องคอมพิวเตอร์</h4>
</div>
<div class="modal-body">
  <form [formGroup]="manageRoom">

    <div class="form-row align-items-center">

      <div class="col-sm-4">
        <label>Seat :</label>
        <select class="input-rounded form-control" type="text" formControlName="category">
          <option *ngFor="let seat of seatdata">{{seat.name}}</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label>Type Name :</label>
        <input type="text" class="input-rounded form-control" formControlName="typename">
      </div>

      <div class="col-sm-4">
        <label>Device Type :</label>
        <select class="input-rounded form-control" type="text" formControlName="deviceTypeId">
          <option *ngFor="let device of devicetype">{{device.name}}</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label>Description :</label>
        <input type="text" class="input-rounded form-control" formControlName="description">
      </div>

      <div class="col-sm-4">
        <label>IP :</label>
        <input type="text" class="input-rounded form-control" formControlName="ip">
      </div>

      <div class="col-sm-4">
        <label>Mac :</label>
        <input type="text" class="input-rounded form-control" formControlName="mac">
      </div>

      <div class="col-sm-4">
        <label>Asset Code :</label>
        <input type="text" class="input-rounded form-control" formControlName="assetCode">
      </div>

      <div class="col-sm-4">
        <label>ServiceTo :</label>
        <input type="text" class="input-rounded form-control" formControlName="serviceTo">
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="modal.close('Save click')">บันทึก</button>
</div> -->