<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">

<!-- <nav class="navbar" style="background-color: #5bb75b;color: #fff;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure; padding-right: 1280px;">สำนักบริการคอมพิวเตอร์</span>
</nav> -->

<!-- <br> -->
<span class="border"></span>
<!-- <div class="row"> -->

<div class="col-12">
  <div align="center">
    <div class="row">
      <div class="col-6">
        <img class="img-resize" src="../assets/images/KU_Logo.png" alt="KU_Logo" (click)="loginuser()"
          style="margin-right:50px">
        <div class="btn-group" style="margin-top: 43px;margin-right: 18%" role="group">
          <!-- <button class="btn btn-outline-success btn-rounded" style="width:150px;">ประวัติการขอใช้งาน</button> -->
          <button class="btn btn-outline-danger btn-rounded " style="width:150px;" (click)="adminmanage()">Super
            Admin</button>
        </div>
      </div>
      <div class="col-6" style="margin-top: 2%;">
        <button class="btn" style="background:#fff;margin-left: 40%;" (click)="logout()">ออกจากระบบ<span
            class="fas fa-door-open" style="color:rgb(213, 75, 75);font-size: 1.5em;"></span></button>
      </div>
    </div>
    <!-- <hr style="border-width:3px 10px 20px;" width="70%" color="#5bb75b"> -->
    <br><br>
    <div class="btn-group" style="margin-top:-15px" role="group">
      <!-- <div class="btn-group" style="margin-top:-15px" role="group"> -->
      <button class="btn btn-secondary btn-success btn-rounded" style="width:300px;"
        (click)="reservingadminmanage()">รายงานการจองใช้งาน</button>
      <button class="btn btn-secondary btn-danger" style="width:300px;"
        (click)="closeschedule()">จัดการการปิดให้บริการ</button>
      <button class="btn btn-secondary btn-warning active" style="width:300px;color: white;"
        (click)="admin()">จัดการที่นั่ง</button>
      <button class="btn btn-info btn-rounded" style="width:300px;" (click)="device()">จัดการเครื่องคอมพิวเตอร์</button>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-3"></div>
</div><br><br>
<!-- <h5>ข้อมูลการจองของท่าน</h5> -->
<hr style="border-width:3px 10px 20px;margin-top: -15px" color="#5bb75b">
<!-- <div class="col-2"></div> -->
<div class="col-10" style="margin-left:8.5%;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" (click)="admin()">ZONE A
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zoneb()">ZONE B &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zonec()">ZONE C
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zoned()">ZONE D &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zonee()">ZONE E &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" (click)="zonef()">ZONE F
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zoneg()">ZONE G &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zonep()">ZONE P &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zones()">ZONE S &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
  </ul>

  <!-- ---------------Zone A------------------>
  <br>
  <div align="center">
    <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
      <nav class="navbar">
        <div class="col-sm-6">
          <a class="navbar-brand" style="font-size: 20px;color: rgb(149, 147, 147);padding-right: 599px"><B>ZONE
              F</B></a>
          <!-- <button class="btn btn-outline-warning" style="padding-right: 500px" ><span class="fa fa-plus"
          (click)="open(content)"  style="color:rgb(112, 204, 120);font-size: 1.5em;"></span></button> -->
        </div>
      </nav>
      <table class="table table-striped table-sm">
        <thead>
          <tr style="background-color: rgb(223, 204, 147);color: #fff">
            <td style="text-align:center;">#</td>
            <td style="text-align:center;">ตั้งอยู่ที่โซน</td>
            <td style="text-align:center;">ตั้งอยู่ที่นั่งเลขที่</td>
            <!-- <td style="text-align:center;">สถานะโซน</td>
            <td style="text-align:center;">สถานะที่นั่ง</td> -->
            <td style="text-align:center;">ประเภท</td>
            <!-- <td style="text-align:center;">Action</td>
                <td style="text-align:center;">Status</td> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let zones of zone; let i= index">
            <th scope="row" style="text-align:center; width: 100px;"> {{ i+1}}</th>
            <td style="text-align:center; width: 250px;">{{ zones.zoneCode}}</td>
            <td style="text-align:center; width: 250px;">{{ zones.name}}</td>
            <!-- <td style="text-align:center; width: 250px;">{{ zones.zoneStatusName}}</td>
            <td style="text-align:center; width: 250px;">{{ zones.seatStatusName}}</td> -->
            <td style="text-align:center; width: 250px;">
              <div class="input-group" style="width:250px;margin-left: 88px">
                <select class="btn-rounded form-control" type="text" (change)="selecttype(zones,$event.target.value)">
                  <!-- <option value="">--Select Time--</option> -->
                  <option [value]="seattype.id" *ngFor="let seattype of seattypes"
                    [selected]="seattype.id==zones.seatTypeId">{{seattype.name}} </option>
                </select>
              </div>
            </td>
            <!-- <td style="text-align:center; width: 250px;">
                <a style="color:rgb(160, 206, 162)" (click)="update(zones.id)"><span class="fa fa-edit"
                    style="color:rgb(160, 206, 162);font-size: 1em;"></span></a>
              </td> -->
            <!-- <td style="width:290px;">
                <label class="switch" style="margin-left:4em">
                  <input type="checkbox" (change)="checkseat(zones,$event)" [checked]="zones.seatStatusId=='10000000-0000-0000-0000-000000000000'">
                  <span class="slider round"></span>
                </label>
                <label style="padding-left:1em">ปิดให้บริการ</label>
              </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>