<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- <button class="btn" (click)="test()">sssss</button> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="row">
  <div class="col-6">
    <!-- <button (click)="draw()">Draw</button> -->

    <canvas #canvas class="cardInner" style="background: url('./assets/images/KPlan.gif');background-repeat: no-repeat;
background-size: contain;" height="1000"></canvas>

  </div>

  <div class="col-6">
    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <font size="5">จองเครื่อง
            <!-- <span class="fa fa-tv" -->
            <!-- style="color:rgb(55, 194, 62);font-size: 1.5em;margin-left:265px"></span> -->
          </font>
        </ng-template>
        <ng-template ngbTabContent>
          <br>
          <div class="row">
            <h5 style="margin-left:20px">กรุณาเลือก วันเที่ เวลา จำนวนชั่วโมงที่ต้องการจอง</h5>
            <button class="btn btn-outline-success" style="margin-top:-10px;height: 40px;margin-left: 440px"
              (click)="open(content)">ผังที่นั่ง</button>
          </div>
          <hr style="border-width:3px 10px 20px" color="#5bb75b" align="left">
          <br>
          <div *ngIf="isFormReady">
            <form [formGroup]="reserving">

              <div class="card shadow" style="width: 58rem;"><br>
                <!-- <div align="center"> -->
                <!-- <div class="row"> -->


                <!-- </div> -->
                <!-- <div class="row"> -->
                <label class="hour">วันที่ :</label>
                <div class="hour form-group">
                  <div class="input-group" style="width:300px;height: 50px;">
                    <input #date class="form-control" type="date"
                      (change)="seard(date.value,periodData.value,time.value);" style="font-size:20px"
                      formControlName="scheduleDate">
                    <div class="input-group-append">
                      <button class="btn btn-success" type="button"> <span class="fa fa-calendar"
                          style="color:rgb(255, 255, 255);font-size: 1.5em;"></span></button>
                    </div>
                  </div>
                </div>
                <!-- <label class="hour">ประเภทเครื่อง :</label>
                <div class="hour input-group" style="width:300px;">
                  <select #types class="custom-select" type="text" style="height: 50px;font-size:20px"
                   id="inlineFormCustomSelect" (change)="seard(date.value,periodData.value,time.value,types.value);">
                    <option value="">--Select Type--</option>
                    <option [value]="type.id" *ngFor="let type of typedata">{{type.name}}</option>
                  </select>
                </div><br> -->

                <!-- </div> -->

                <!-- <div class="row"> -->


                <!-- </div> -->
                <!-- <div class="row"> -->
                <label class="hour">เวลา :</label>
                <div class="hour input-group" style="width:300px;">
                  <select #periodData class="custom-select" type="text" style="height: 50px;font-size:20px"
                    (change)="seard(date.value,periodData.value,time.value);" id="inlineFormCustomSelect">
                    <option value="">--Select Time--</option>
                    <option [value]="period.id" *ngFor="let period of perioddata">{{period.name}}</option>
                  </select>
                </div><br>

                <label class="hour date">จำนวนชั่วโมง :</label>
                <div class="hour input-group" style="width:300px;">
                  <select #time class="custom-select" type="text" style="height: 50px;font-size:20px"
                    (change)="seard(date.value,periodData.value,time.value);" id="inlineFormCustomSelect"
                    formControlName="availablePeriod">
                    <option value="">--Select Period--</option>
                    <option *ngFor="let hour of timedata" [value]="hour.id">{{hour.hour}}</option>
                  </select>
                </div><br>

                <label class="hour">เครื่อง :</label>
                <input #seatCode class="input1 input-group" formControlName="seatCode" style="width:100px;height: 80px; left: 100px;font-size: 50px;color: #5bb75b" ><br><br>
                <!-- <div class="hour input-group" style="width:300px">
                  <select class="custom-select mr-sm-2" type="text" style="height: 50px;font-size:20px"
                    id="inlineFormCustomSelect" formControlName="seatId">
                    <option value="">--Select Seat--</option>
                    <option *ngFor="let seats of seatdata" [value]="seats.id">{{seats.code}}</option>
                  </select>
                </div><br> -->
                <!-- <div class="card shadow" style="width: 58rem;"><br> -->
                  <div align="center">
                    <div class="row" >
                      <label class="user1">ชื่อผู้ใช้ :</label>
                      <label class="pass1">รหัสผ่าน :</label>
                    </div>
                    <div class="row">
                      <div class="user input-group" style="width:300px">
                        <input type="text" class="form-control" style="height: 50px;font-size: 20px" formControlName="userName" placeholder="Username">
                      </div>
                      <div class="pass input-group" style="width:300px">
                        <input type="text" class="form-control" style="height: 50px;font-size: 20px" formControlName="password" placeholder="Password">
                      </div>
                      <!-- <button type="button" class="but1 btn btn-success" style="width:240px;font-size:20px;">ยืนยัน</button> -->
                    </div><br><br>
                  </div>
                <!-- </div> -->

                <!-- </div> -->
                <button type="button" class="but btn btn-success"
                  style="width:240px;margin-left: 150px;"
                  (click)="reserve()">ค้นหา
                  <span class="fa fa-search" style="color:rgb(255, 255, 255);font-size: 1em;"></span>
                </button><br>
              </div>
              <!-- </div> -->

            </form>
          </div>

          <br><br>

          <!-- <pre>{{reserving.value | json}}</pre> -->

          <!-- <h5>กรุณา Login เพื่อยืนยันการจอง</h5>
          <hr style="border-width:3px 10px 20px" color="#5bb75b" align="left"><br> -->

        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle>
          <font size="5">จัดการการจอง
            <!-- <span class="fa fa-edit" -->
            <!-- style="color:rgb(55, 194, 62);font-size: 1.5em; margin-left:265px"></span> -->
          </font>
        </ng-template>
        <ng-template ngbTabContent><br>
          <h5>กรุณาลงชื่อเพื่อค้นหาข้อมูลการจองของท่าน</h5>
          <hr style="border-width:3px 10px 20px" color="#5bb75b" align="left">
          <div class="card shadow" style="width: 58rem;"><br>
            <div class="row">
              <label class="">ชื่อผู้ใช้ :</label>
              <label class="">รหัสผ่าน :</label>
            </div>
            <!-- <div class="row"> -->
            <div class="user input-group" style="width:300px">
              <input type="text" class="form-control" style="height: 50px;font-size: 20px" placeholder="Username">
            </div>
            <div class="input-group" style="width:300px">
              <input type="text" class="form-control " style="height: 50px;font-size: 20px" placeholder="Password">
            </div>
            <button type="button" class="but1 btn btn-success" style="width:240px;font-size:20px;">ยืนยัน</button>
            <!-- </div> -->
            <br><br>
          </div>
          <br>
          <h5>ข้อมูลการจองของท่าน</h5>
          <hr style="border-width:3px 10px 20px" color="#5bb75b" align="left">
          <table class="table shadow">
            <thead class="thead ">
              <tr style="background-color:#5bb75b">
                <td scope="col" style="text-align:center;font-size: 20px">
                  <font color="#fff">#</font>
                </td>
                <td scope="col" style="text-align:center;font-size: 20px">
                  <font color="#fff">Date</font>
                </td>
                <td scope="col" style="text-align:center;font-size: 20px">
                  <font color="#fff">Time</font>
                </td>
                <td scope="col" style="text-align:center;font-size: 20px">
                  <font color="#fff">Seat</font>
                </td>
                <td scope="col" style="text-align:center;font-size: 20px">
                  <font color="#fff">Action</font>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" style="text-align:center;font-size: 20px">1</th>
                <td style="text-align:center;font-size: 20px">12 Jan 2019</td>
                <td style="text-align:center;font-size: 20px">13.30</td>
                <td style="text-align:center;font-size: 20px">A8</td>
                <td style="text-align:center;font-size: 20px">
                  <button class="btn btn-outline-light"><span class="fa fa-edit"
                      style="color:rgb(112, 204, 120);font-size: 1.5em;"></span></button>&nbsp;
                  <button class="btn btn-outline-light"><span class="fa fa-trash"
                      style="color:rgb(216, 51, 51);font-size: 1.5em;"></span></button>
                </td>
              </tr>
              <tr>
                <th scope="row" style="text-align:center;font-size: 20px">2</th>
                <td style="text-align:center;font-size: 20px">12 Jan 2019</td>
                <td style="text-align:center;font-size: 20px">13.30</td>
                <td style="text-align:center;font-size: 20px">A8</td>
                <td style="text-align:center;font-size: 20px">
                  <button class="btn btn-outline-light"><span class="fa fa-edit"
                      style="color:rgb(55, 194, 62);font-size: 1.5em;"></span></button>&nbsp;
                  <button class="btn btn-outline-light"><span class="fa fa-trash"
                      style="color:rgb(216, 51, 51);font-size: 1.5em;"></span></button>
                </td>
              </tr>
              <tr>
                <th scope="row" style="text-align:center;font-size: 20px">3</th>
                <td style="text-align:center;font-size: 20px">12 Jan 2019</td>
                <td style="text-align:center;font-size: 20px">13.30</td>
                <td style="text-align:center;font-size: 20px">A8</td>
                <td style="text-align:center;font-size: 20px">
                  <button class="btn btn-outline-light"><span class="fa fa-edit"
                      style="color:rgb(55, 194, 62);font-size: 1.5em;"></span></button>&nbsp;
                  <button class="btn btn-outline-light"><span class="fa fa-trash"
                      style="color:rgb(216, 51, 51);font-size: 1.5em;"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
<!-- -----------------------------------modal create-------------------------------------- -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">รายละเอียดผังที่นั่ง</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <table class="table">
        <thead>
          <tr style="background-color:#5bb75b">
            <th scope="col" style="text-align:center;font-size: 20px">
              <font color="#fff">Zone</font>
            </th>
            <th scope="col" style="text-align:center;font-size: 20px">
              <font color="#fff">Seat</font>
            </th>
            <th scope="col" style="text-align:center;font-size: 20px">
              <font color="#fff">Type</font>
            </th>
            <th scope="col" style="text-align:center;font-size: 20px">
              <font color="#fff">Period</font>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:center;font-size: 20px">A</td>
            <td style="text-align:center;font-size: 20px">A1-A32</td>
            <td style="text-align:center;font-size: 20px">Windows</td>
            <td style="text-align:center;font-size: 20px">1 Period - 3 Period</td>
          </tr>
          <tr>
            <td style="text-align:center;font-size: 20px">B</td>
            <td style="text-align:center;font-size: 20px">B1-B51</td>
            <td style="text-align:center;font-size: 20px">Windows</td>
            <td style="text-align:center;font-size: 20px">1 Period - 3 Period</td>
          </tr>
          <tr>
            <td style="text-align:center;font-size: 20px">C</td>
            <td style="text-align:center;font-size: 20px">C1-22</td>
            <td style="text-align:center;font-size: 20px">Windows</td>
            <td style="text-align:center;font-size: 20px">1 Period - 3 Period</td>
          </tr>
          <tr>
            <td style="text-align:center;font-size: 20px">D</td>
            <td style="text-align:center;font-size: 20px">D1-D24</td>
            <td style="text-align:center;font-size: 20px">Mac</td>
            <td style="text-align:center;font-size: 20px">1 Period - 3 Period</td>
          </tr>
          <tr>
            <td style="text-align:center;font-size: 20px">E</td>
            <td style="text-align:center;font-size: 20px">E1-E9</td>
            <td style="text-align:center;font-size: 20px">Empty Machine</td>
            <td style="text-align:center;font-size: 20px"> - </td>
          </tr>
          <tr>
            <td style="text-align:center;font-size: 20px">E</td>
            <td style="text-align:center;font-size: 20px">E10-E36</td>
            <td style="text-align:center;font-size: 20px">Windows</td>
            <td style="text-align:center;font-size: 20px">1 Period - 3 Period</td>
          </tr>
          <tr>
            <td style="text-align:center;font-size: 20px">F</td>
            <td style="text-align:center;font-size: 20px">F1-F12</td>
            <td style="text-align:center;font-size: 20px">Windows</td>
            <td style="text-align:center;font-size: 20px">1 Period - 3 Period </td>
          </tr>
          <tr>
            <td style="text-align:center;font-size: 20px">G</td>
            <td style="text-align:center;font-size: 20px">G1-G7</td>
            <td style="text-align:center;font-size: 20px">Scanner</td>
            <td style="text-align:center;font-size: 20px">1 Period - 2 Period</td>
          </tr>
          <tr>
            <td style="text-align:center;font-size: 20px">P</td>
            <td style="text-align:center;font-size: 20px">P1-P2</td>
            <td style="text-align:center;font-size: 20px">Booking Machine</td>
            <td style="text-align:center;font-size: 20px"> - </td>
          </tr>
          <tr>
            <td style="text-align:center;font-size: 20px">S</td>
            <td style="text-align:center;font-size: 20px">S1-S10</td>
            <td style="text-align:center;font-size: 20px">Empty Machine</td>
            <td style="text-align:center;font-size: 20px"> - </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>