<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">

<!-- <nav class="navbar" style="background-color: #5bb75b;color: #fff;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure; padding-right: 1280px;">สำนักบริการคอมพิวเตอร์</span>
</nav> -->

<!-- <br> -->
<span class="border"></span>
<!-- <div class="row"> -->

<div class="col-12">
  <div align="center">
    <div class="row">
      <div class="col-6">
        <img class="img-resize" src="../assets/images/KU_Logo.png" alt="KU_Logo" (click)="loginuser()"
          style="margin-right:50px">
        <div class="btn-group" style="margin-top: 43px;margin-right: 18%" role="group">
          <!-- <button class="btn btn-outline-success btn-rounded" style="width:150px;">ประวัติการขอใช้งาน</button> -->
          <button class="btn btn-outline-danger btn-rounded " style="width:150px;" (click)="adminmanage()">Super
            Admin</button>
        </div>
      </div>
      <div class="col-6" style="margin-top: 2%;">
        <button class="btn" style="background:#fff;margin-left: 40%;" (click)="logout()">ออกจากระบบ<span
            class="fas fa-door-open" style="color:rgb(213, 75, 75);font-size: 1.5em;"></span></button>
      </div>
    </div>
    <!-- <hr style="border-width:3px 10px 20px;" width="70%" color="#5bb75b"> -->
    <br><br>
    <div class="btn-group" style="margin-top:-15px" role="group">
      <!-- <div class="btn-group" style="margin-top:-15px" role="group"> -->
      <button class="btn btn-secondary btn-success btn-rounded active" style="width:300px;"
        (click)="reservingadminmanage()">รายงานการจองใช้งาน</button>
      <button class="btn btn-secondary btn-danger" style="width:300px;"
        (click)="closeschedule()">จัดการการปิดให้บริการ</button>
      <button class="btn btn-secondary btn-warning" style="width:300px;color: white;"
        (click)="admin()">จัดการที่นั่ง</button>
      <button class="btn btn-info btn-rounded" style="width:300px;" (click)="device()">จัดการเครื่องคอมพิวเตอร์</button>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-3"></div>
</div><br><br>
<!-- <h5>ข้อมูลการจองของท่าน</h5> -->
<hr style="border-width:3px 10px 20px;margin-top: -15px" color="#5bb75b">
<!-- <div class="col-2"></div> -->
<div *ngIf="mode!=1">
  <div class="col-10" style="margin-left:8.5%;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" (click)="admin()">รายงานการขอใช้</a>
      </li>
    </ul>

    <!-- ---------------Table Admin------------------>
    <br>
    <div align="center">
      <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
        <nav class="navbar">
          <div class="col-sm-1">
            <a class="navbar-brand"
              style="font-size: 20px;color: rgb(149, 147, 147);"><B>รายงานการขอใช้</B></a>
          </div>
          <div class="col-xs-2">
            <div class="input-group" >
              <input type="date" style="width:200px;" (change)="changeFinanceDate($event);" class="input-rounded form-control">
            </div>
            <!-- <div class="form-group inputWithIcon">
                <div class="input-group">
                  <input class="form-control input-rounded" [attr.disabled]="lastSelectedSeat" (change)="changeFinanceDate($event);" style="width:200px;"
                    placeholder="dd-mm-yyyy" ngbDatepicker #d="ngbDatepicker">
                </div>
                <i class="far fa-calendar" (click)="d.toggle()" aria-hidden="true"></i>
              </div> -->
          </div>
        </nav>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">#</td>
              <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">วันที่</td>
              <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">เวลา</td>
              <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">ตั้งอยู่ที่นั่งเลขที่</td>
              <!-- <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">จำนวนชั่วโมง</td> -->
              <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">ชื่อผู้ใช้</td>
              <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">Action</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let seat of seats; let i= index">
              <th scope="row" style="text-align:center; width: 100px;"> {{ i+1}}</th>
              <td style="text-align:center; width: 250px;">{{ seat.scheduleDate | date: 'dd-MM-yyyy'}}</td>
              <td style="text-align:center; width: 250px;">{{ seat.periodCode}}</td>
              <td style="text-align:center; width: 250px;">{{ seat.seatCode}}</td>
              <!-- <td style="text-align:center; width: 250px;">{{ seat.availablePeriod}}</td> -->
              <td style="text-align:center; width: 250px;">{{ seat.userName}}</td>
              <td style="text-align:center; width: 250px;">
                <a style="color:rgb(160, 206, 162)" (click)="showSeatInfo(seat)"><span class="fa fa-edit"
                    style="color:rgb(160, 206, 162);font-size: 1em;"></span></a>
                <a class="btn" (click)="cancel(seat)" style="margin-top: -4px"><i class="fa fa-trash"
                    style="color:red"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- -------------------------------------------------------------------------------------------- -->
<br>
<div class="row">
  <div [ngStyle]="{display:mode==0?'none':'contents'}">
    <div class="col-md-8 col-lg-6">
      <canvas #canvas id="DemoCanvas" style="background: url('./assets/images/KPlan.gif');background-repeat: no-repeat;
          background-size: contain;"></canvas>
    </div>
  </div>

  <div class="col-md-6 ">
    <div *ngIf="isFormReady">
      <form [formGroup]="seatInfoForm">
        <div *ngIf="mode==1">
          <div class="row" style="margin-top: -10px">
            <label class="left">เลือกวันที่ต้องการ :</label>
            <div class="left input-group" style="width:250px;">
              <input class="btn-rounded form-control" formControlName="scheduleDate" disabled>
            </div>
          </div><br>
          <div class="row" style="margin-top: -10px">
            <label class="left">เลือกเวลาที่ต้องการ :</label>
            <div class="input-group" style="width:250px;margin-left: 88px">
              <select class="btn-rounded form-control" type="text" formControlName="periodId" disabled>
                <option value="">--Select Time--</option>
                <option [value]="period.id" *ngFor="let period of perioddata">{{period.code }}</option>
              </select>
            </div>
          </div><br>
          <div class="row" style="margin-top: -10px">
            <label class="left">เลือกประเภทเครื่อง :</label>
            <div class="input-group" style="width:250px;margin-left: 88px">
              <select class="btn-rounded form-control" type="text" formControlName="seatTypeId" disabled>
                <option *ngFor="let type of typedata" [value]="type.id">{{type.name}}</option>
              </select>
            </div>
          </div><br>
          <div class="row" style="margin-top: -10px">
            <label class="left">หมายเลขเครื่อง :</label>
            <input class="input1 input-group" formControlName="seatCode"
              style="width:100px;height: 80px;margin-left: 115px;font-size: 40px;color: #5bb75b;background-color: white "
              disabled>
          </div>
          <div class="row">
            <div class="col-lg-5"></div>
            <button class="btn btn-rounded" style="width:120px;color: white;background: rgb(79, 204, 37)"
              (click)="cancelpage()">กลับหน้าแรก</button> &nbsp;
            <button class="btn btn-rounded" style="width:120px;color: white;background: rgb(79, 204, 37)"
              (click)="changeSeat()">ทำการเปลี่ยนที่นั่ง</button>
          </div>
        </div>
        <!-- <pre>{{seatInfoForm.value | json}}</pre> -->
      </form>
    </div>
  </div>

</div>