.left{
    margin-left: 80px;
  }
  .lefthead{
    margin-left: 10px;
  }
  .btn-rounded {
    border-radius: 25px;
  }
  .input-rounded {
    border-radius: 25px;
  }
  .img-resize {
    width: 64px;
    height: 80px;
    }