<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">

<!-- <nav class="navbar" style="background-color: #5bb75b;color: #fff;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure; padding-right: 1280px;">สำนักบริการคอมพิวเตอร์</span>
</nav> -->

<!-- <br> -->
<span class="border"></span>
<!-- <div class="row"> -->


<div class="col-12">
  <div align="center">
      <div class="row">
          <div class="col-6">
              <img class="img-resize" src="../assets/images/KU_Logo.png"
              alt="KU_Logo" (click)="loginuser()" style="margin-right:50px">
            <div class="btn-group" style="margin-top: 43px;margin-right: 18%" role="group">
              <!-- <button class="btn btn-outline-success btn-rounded" style="width:150px;">ประวัติการขอใช้งาน</button> -->
              <button class="btn btn-outline-danger btn-rounded " style="width:150px;" (click)="adminmanage()">Super
                Admin</button>
            </div>
          </div>
          <div class="col-6" style="margin-top: 2%;">
            <button class="btn" style="background:#fff;margin-left: 40%;" (click)="logout()">ออกจากระบบ<span
                class="fas fa-door-open" style="color:rgb(213, 75, 75);font-size: 1.5em;"></span></button>
          </div>
        </div>
    <!-- <hr style="border-width:3px 10px 20px;" width="70%" color="#5bb75b"> -->
    <br><br>
    <div class="btn-group" style="margin-top:-15px" role="group">
      <!-- <div class="btn-group" style="margin-top:-15px" role="group"> -->
      <button class="btn btn-secondary btn-success btn-rounded" style="width:300px;"
        (click)="reservingadminmanage()">รายงานการจองใช้งาน</button>
      <button class="btn btn-secondary btn-danger" style="width:300px;"
        (click)="closeschedulepage()">จัดการการปิดให้บริการ</button>
      <button class="btn btn-secondary btn-warning" style="width:300px;color: white;"
        (click)="admin()">จัดการที่นั่ง</button>
      <button class="btn btn-info btn-rounded" style="width:300px;" (click)="device()">จัดการเครื่องคอมพิวเตอร์</button>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-3"></div>
</div><br><br>
<!-- <h5>ข้อมูลการจองของท่าน</h5> -->
<hr style="border-width:3px 10px 20px;margin-top: -15px" color="#5bb75b">

<div class="col-10" style="margin-left:8.5%;">

  <!-- ---------------Zone A------------------>
  <br>
  <div class="col-12">
    <div align="center"><br>
      <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <h6 class="left" style="font-size:20px;color: rgb(149, 147, 147)">
            <b>ตั้งค่าวันและเวลาที่ต้องการปิดให้บริการ</b></h6>
        </div>
        <hr style="width: 90%;border-width:3px 10px 20px;background-color: yellow;margin-left: 5%">
        <br>
        <form [formGroup]="closeschedule">
          <div class=" align-items-center">

            <div class="row">
              <label class="col-3">เริ่มวันที่ :</label>
              <!-- <div class="input-group" style="width:200px;">
                <input type="date" class="input-rounded form-control" formControlName="fromDate"
                  [ngClass]="{ 'is-invalid': f.fromDate.touched  && f.fromDate.errors }">
                <div *ngIf=" f.fromDate.touched && f.fromDate.errors" class="invalid-feedback" style="color: red">
                  <div *ngIf="f.fromDate.errors.required">กรุณาเลือกวันที่จะปิดทำการ</div>
                </div>
              </div> -->

              <div class="form-group inputWithIcon">
                <div class="input-group">
                  <input class="form-control input-rounded" formControlName="fromDate" style="width:200px;" placeholder="dd-mm-yyyy"
                         ngbDatepicker #d="ngbDatepicker">
                </div>
                <i class="far fa-calendar " (click)="d.toggle()" aria-hidden="true"></i>
              </div>

              <label class="col-3">เริ่มเวลา :</label>
              <div class="input-group" style="width:200px;">
                <select class="input-rounded form-control" type="text" formControlName="fromPeriodId"
                  [ngClass]="{ 'is-invalid': f.fromPeriodId.touched  && f.fromPeriodId.errors }">
                  <option value="">---กรุณาเลือกเวลา---</option>
                  <option *ngFor="let period of periods" [value]="period.id">{{period.code}}</option>
                </select>
                <div *ngIf=" f.fromPeriodId.touched && f.fromPeriodId.errors" class="invalid-feedback"
                  style="color: red">
                  <div *ngIf="f.fromPeriodId.errors.required">กรุณาเลือกเวลาที่จะปิดทำการ</div>
                </div>
              </div>
            </div><br>

            <div class="row">
              <label class="col-3">ถึงวันที่ :</label>
              <!-- <div class="input-group" style="width:200px;">
                <input type="date" class="input-rounded form-control" formControlName="toDate"
                  [ngClass]="{ 'is-invalid': f.toDate.touched  && f.toDate.errors }">
                <div *ngIf=" f.toDate.touched && f.toDate.errors" class="invalid-feedback" style="color: red">
                  <div *ngIf="f.toDate.errors.required">กรุณาเลือกวันที่จะเปิดทำการ</div>
                </div>
              </div> -->

              <div class="form-group inputWithIcon">
                  <div class="input-group">
                    <input class="form-control input-rounded" formControlName="toDate" style="width:200px;" placeholder="dd-mm-yyyy"
                           ngbDatepicker #d="ngbDatepicker">
                  </div>
                  <i class="far fa-calendar " (click)="d.toggle()" aria-hidden="true"></i>
                </div>

              <label class="col-3">ถึงเวลา :</label>
              <div class="input-group" style="width:200px;">
                <select class="input-rounded form-control" type="text" formControlName="toPeriodId"
                  [ngClass]="{ 'is-invalid': f.toPeriodId.touched  && f.toPeriodId.errors }">
                  <option value="">---กรุณาเลือกเวลา---</option>
                  <option *ngFor="let period of periods" [value]="period.id">{{period.code}}</option>
                </select>
                <div *ngIf=" f.toPeriodId.touched && f.toPeriodId.errors" class="invalid-feedback" style="color: red">
                  <div *ngIf="f.toPeriodId.errors.required">กรุณาเลือกเวลาที่จะเปิดทำการ</div>
                </div>
              </div>
            </div><br>

            <label style="margin-right:850px">ต้องการปิดทั้งโซน</label>

            <div class="row" style="margin-left:-5px">
              <label class="col-3">ปิดทั้งโซน :</label>
              <div class="input-group" style="width:200px;">
                <select class="input-rounded form-control" style="margin-left:-7px" type="text" formControlName="zoneId"
                  [ngClass]="{ 'is-invalid': f.zoneId.touched  && f.zoneId.errors }">
                  <option value="">---กรุณาเลือกโซน---</option>
                  <option *ngFor="let zonename of zonenames" [value]="zonename.id">{{zonename.name}}</option>
                </select>
                <div *ngIf=" f.zoneId.touched && f.zoneId.errors" class="invalid-feedback" style="color: red">
                  <div *ngIf="f.zoneId.errors.required">กรุณาเลือกโซนที่จะปิดทำการ</div>
                </div>
              </div>


            </div><br>

            <label style="margin-right:840px">ต้องการปิดบางที่นั่ง</label>

             <div class="row" >
              <label class="col-3" style="margin-left:-5px">ที่นั่ง :</label>
              <div class="input-group" style="width:210px;">
                <select class="input-rounded form-control" style="margin-left: 5px" type="text" formControlName="seatId">
                    <option value="">---กรุณาเลือกที่นั่ง---</option>
                  <option *ngFor="let seatname of seatnames" [value]="seatname.id">{{seatname.name}}</option>
                </select>
              </div>
            </div><br>

          </div>
          <button type="button" class="btn btn-success btn-rounded" style="width:200px;margin-left: 51%"
            (click)="closestatus()">บันทึก</button>
        </form>
        <pre>{{closeschedule.value  | json}}</pre>
      </div>
    </div>
  </div>

</div>
