.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
   
  }
  .login-form-1{
    /* padding: 12%; */

    /* background: green; */
    /* background: url('../../assets/images/Untitleddesign.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: 570px 545px; */
    box-shadow: 0 3px 8px 0 rgba(0, 0,  0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-1 h3{
    text-align: left;
    margin-bottom:12%;
    color:#fff;
  }
  .login-form-2{
    padding: 12%;
    background: rgb(79, 204, 37);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-2 h3{
    /* text-align: left; */
    margin-bottom:12%;
   
  }
  /* .btnpos
  {
  margin-left: 70%
  } */
  
  
  /* basic stylings ------------------------------------------ */
  h2    { 
    text-align:center; 
    margin-bottom:50px; 
  }
  h2 small { 
    font-weight:normal; 
    color:#888; 
    display:block; 
  }
  .footer  { text-align:center; }
  .footer a  { color:#53B2C8; }
  
  /* form starting stylings ------------------------------- */
  .group      { 
    position:relative; 
    margin-bottom:45px; 
  }
  input     {
    font-size:18px;
    padding:10px 10px 10px 5px;
    /* display:block; */
    width:300px;
    border:none;
    color: white;
    border-bottom:1px solid #fff;
  }
  input:focus   { outline:none; }
  
  /* LABEL ======================================= */
  label      {
    color:#fff; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label   {
    top:-20px;
    font-size:14px;
    color:rgb(255, 255, 255);
  }
  
  /* BOTTOM BARS ================================= */
  .bar  { position:relative; display:block; width:300px; }
  .bar:before, .bar:after  {
    content:'';
    height:2px; 
    width:0;
    bottom:0.8px; 
    position:absolute;
    background:rgb(255, 255, 255); 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
   from { background:#5264AE; }
    to  { width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
   from { background:#5264AE; }
    to  { width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
   from { background:#5264AE; }
    to  { width:0; background:transparent; }
  }

  .img-resize {
    width: 64px;
    height: 80px;
    }