<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<form [formGroup]="loginusers">
  <div class="container login-container centered">
    <div class="row">
      <div class="col-md-4 login-form-1">
        <img class="img-resize" src="../assets/images/KU_Logo.png" alt="KU_Logo"
          style="margin-top:15%;margin-left: 10%">
        <!-- <img class="img-resize" src="../assets/images/logo.jpg" alt="KU_Logo" > -->
        <label style="margin-top:55%;margin-left: 10%;color:rgba(43, 59, 43, 0.53);font-size: 25px">Computer Reserving
          System</label>
        <label style="margin-top:65%;margin-left: 65%;color:rgba(63, 68, 63, 0.53);font-size: 20px">for Admin</label>
        <!-- <label style="margin-top:55%;margin-left: 45%;color:white;font-size: 25px">System for Admin</label> -->
      </div>

      <div class="col-md-6 login-form-2">
        <h3 style="color:white">Sign in</h3>
        <div class="group">
          <input type="text" formControlName="userName" required style="background :rgb(79, 204, 37);"
            [ngClass]="{ 'is-invalid': f.userName.touched  && f.userName.errors }">
          <div *ngIf=" f.userName.touched && f.userName.errors" class="invalid-feedback" style="color: red">
            <div *ngIf="f.userName.errors.required">กรุณากรอก Username</div>
          </div>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>UserName</label>
        </div>
        <div class="group">
          <input type="password" formControlName="password" required style="background :rgb(79, 204, 37)"
            [ngClass]="{ 'is-invalid': f.password.touched  && f.password.errors }">
          <div *ngIf=" f.password.touched && f.password.errors" class="invalid-feedback" style="color: red">
            <div *ngIf="f.password.errors.required">กรุณากรอก Password</div>
          </div>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
        </div>
        <div class="row">
          <div class="col-md-7"></div>
            <button type="button" class="btn"
              style="background :rgb(79, 204, 37);color: white;border-color: white"
              (click)="loginadmin()">เข้าสู่ระบบ</button>
        </div>
      </div>
    </div>
  </div>
</form>