<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">

<!-- <nav class="navbar" style="background-color: #5bb75b;color: #fff;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure; padding-right: 1280px;">สำนักบริการคอมพิวเตอร์</span>
</nav> -->

<!-- <br> -->
<span class="border"></span>
<!-- <div class="row"> -->

<div class="col-12">
  <div align="center">
    <div class="row">
      <div class="col-6">
        <img class="img-resize" src="../assets/images/KU_Logo.png" alt="KU_Logo" (click)="loginuser()"
          style="margin-right:50px">
        <div class="btn-group" style="margin-top: 43px;margin-right: 18%" role="group">
          <!-- <button class="btn btn-outline-success btn-rounded" style="width:150px;">ประวัติการขอใช้งาน</button> -->
          <button class="btn btn-outline-danger btn-rounded " style="width:150px;" (click)="adminmanage()">Super
            Admin</button>
        </div>
      </div>
      <div class="col-6" style="margin-top: 2%;">
        <button class="btn" style="background:#fff;margin-left: 40%;" (click)="logout()">ออกจากระบบ<span
            class="fas fa-door-open" style="color:rgb(213, 75, 75);font-size: 1.5em;"></span></button>
      </div>
    </div>
    <!-- <hr style="border-width:3px 10px 20px;" width="70%" color="#5bb75b"> -->
    <br><br>
    <div class="btn-group" style="margin-top:-15px" role="group">
      <!-- <div class="btn-group" style="margin-top:-15px" role="group"> -->
      <button class="btn btn-secondary btn-success btn-rounded" style="width:300px;"
        (click)="reservingadminmanage()">รายงานการจองใช้งาน</button>
      <button class="btn btn-secondary btn-danger active" style="width:300px;"
        (click)="closeschedulepage()">จัดการการปิดให้บริการ</button>
      <button class="btn btn-secondary btn-warning" style="width:300px;color: white;"
        (click)="admin()">จัดการที่นั่ง</button>
      <button class="btn btn-info btn-rounded" style="width:300px;" (click)="device()">จัดการเครื่องคอมพิวเตอร์</button>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-3"></div>
</div><br><br>
<!-- <h5>ข้อมูลการจองของท่าน</h5> -->
<hr style="border-width:3px 10px 20px;margin-top: -15px" color="#5bb75b">

<div class="col-10" style="margin-left:8.5%;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">ปิดให้บริการ</a>
    </li>

  </ul>

  <!-- ---------------Zone A------------------>
  <br>
  <div align="center">
    <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
      <nav class="navbar">
        <div class="col-sm-1">
          <a class="navbar-brand"
            style="font-size: 20px;color: rgb(149, 147, 147);padding-right: 599px"><B>รายการปิดให้บริการ</B></a>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-rounded btn-outline-danger" (click)="closeschedulemanage()"
            style="width: 120px;height: 40px;font-size: 16px">
            <span class="fa fa-plus" style="font-size: 1em"></span>&nbsp; เพิ่มเครื่อง</button>
        </div>
      </nav>
      <table class="table table-striped table-sm">
        <thead>
          <tr style="background-color: rgb(243, 179, 179);color: #fff">
            <td style="text-align:center;">#</td>
            <td style="text-align:center;">เริ่มวันที่</td>
            <td style="text-align:center;">ถึงวันที่</td>
            <td style="text-align:center;">เริ่มเวลา</td>
            <td style="text-align:center;">ถึงเวลา</td>
            <td style="text-align:center;">ตั้งอยู่ที่โซน</td>
            <td style="text-align:center;">ตั้งอยู่ที่นั่งเลขที่</td>
            <td style="text-align:center;">Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let zone of zones; let i= index">
            <th scope="row" style="text-align:center; width: 100px;"> {{ i+1}}</th>
            <td style="text-align:center; width: 250px;">{{ zone.fromDate | date: 'dd-MM-yyyy'}}</td>
            <td style="text-align:center; width: 250px;">{{ zone.toDate | date: 'dd-MM-yyyy'}}</td>
            <td style="text-align:center; width: 250px;">{{ zone.fromPeriodCode}}</td>
            <td style="text-align:center; width: 250px;">{{ zone.toPeriodCode}}</td>
            <td style="text-align:center; width: 250px;">{{ zone.zoneName}}</td>
            <td style="text-align:center; width: 250px;">{{ zone.seatName}}</td>
            <td style="text-align:center; width: 250px;">
              <a class="btn" (click)="remove(zone)"><i class="fa fa-trash" style="color:red"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <div *ngIf="mode==1" class="col-12">
    <div align="center"><br>
      <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <h6 class="left" style="font-size:20px;color: rgb(149, 147, 147)">
            <b>ตั้งค่าวันและเวลาที่ต้องการปิดให้บริการ</b></h6>
        </div>
        <hr style="width: 90%;border-width:3px 10px 20px;background-color: yellow;margin-left: 5%">
        <br>
        <div class=" align-items-center">

          <div class="row">
            <label class="col-3">เริ่มวันที่ :</label>
            <div class="input-group" style="width:200px;">
              <input type="date" class="input-rounded form-control">
            </div>

            <label class="col-3">เริ่มเวลา :</label>
            <div class="input-group" style="width:200px;">
              <select class="input-rounded form-control" type="text">
                <option *ngFor="let device of devicetypedata" [value]="device.type">{{device.type}}</option>
              </select>
            </div>
          </div><br>

          <div class="row">
            <label class="col-3">ถึงวันที่ :</label>
            <div class="input-group" style="width:200px;">
              <input type="date" class="input-rounded form-control">
            </div><br>


            <label class="col-3">ถึงเวลา :</label>
            <div class="input-group" style="width:200px;">
              <select class="input-rounded form-control" type="text">
                <option *ngFor="let device of devicetypedata" [value]="device.type">{{device.type}}</option>
              </select>
            </div>
          </div><br>

          <div class="row">
            <label class="col-3">โซน :</label>
            <div class="input-group" style="width:200px;">
              <select class="input-rounded form-control" type="text">
                <option *ngFor="let device of devicetypedata" [value]="device.type">{{device.type}}</option>
              </select>
            </div><br>


            <label class="col-3">ที่นั่ง :</label>
            <div class="input-group" style="width:200px;">
              <select class="input-rounded form-control" type="text">
                <option *ngFor="let device of devicetypedata" [value]="device.type">{{device.type}}</option>
              </select>
            </div>
          </div><br>

        </div>
        <button type="button" class="btn btn-success" style="width:250px;margin-left: 70%"
          (click)="savezone()">บันทึก</button>
      </div>
    </div>
  </div> -->
</div>