<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">

<!-- <nav class="navbar" style="background-color: #5bb75b;color: #fff;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure; padding-right: 1280px;">สำนักบริการคอมพิวเตอร์</span>
</nav> -->
<!-- <br> -->
<span class="border"></span>
<!-- <div class="row"> -->

<div class="col-12">
  <div align="center">
    <div class="row">
      <div class="col-6">
          <img class="img-resize" src="../assets/images/KU_Logo.png"
          alt="KU_Logo" (click)="loginuser()" style="margin-right:50px">
        <div class="btn-group" style="margin-top: 43px;margin-right: 18%" role="group">
          <!-- <button class="btn btn-outline-success btn-rounded" style="width:150px;">ประวัติการขอใช้งาน</button> -->
          <button class="btn btn-outline-danger btn-rounded " style="width:150px;" (click)="adminmanage()">Super
            Admin</button>
        </div>
      </div>
      <div class="col-6" style="margin-top: 2%;">
        <button class="btn" style="background:#fff;margin-left: 40%;" (click)="logout()">ออกจากระบบ<span
            class="fas fa-door-open" style="color:rgb(213, 75, 75);font-size: 1.5em;"></span></button>
      </div>
    </div>
    <!-- <hr style="border-width:3px 10px 20px;" width="70%" color="#5bb75b"> -->
    <br><br>
    <div class="btn-group" style="margin-top:-15px" role="group">
      <!-- <div class="btn-group" style="margin-top:-15px" role="group"> -->
      <button class="btn btn-secondary btn-success btn-rounded" style="width:300px;"
        (click)="reservingadminmanage()">รายงานการจองใช้งาน</button>
      <button class="btn btn-secondary btn-danger" style="width:300px;"
        (click)="closeschedule()">จัดการการปิดให้บริการ</button>
      <button class="btn btn-secondary btn-warning" style="width:300px;color: white;"
        (click)="admin()">จัดการที่นั่ง</button>
      <button class="btn btn-info btn-rounded" style="width:300px;" (click)="device()">จัดการเครื่องคอมพิวเตอร์</button>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-3"></div>
</div><br><br>
<!-- <h5>ข้อมูลการจองของท่าน</h5> -->
<hr style="border-width:3px 10px 20px;margin-top: -15px" color="#5bb75b">

<div class="col-10" style="margin-left:8.5%;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" (click)="admin()">ผู้ดูแลระบบ</a>
    </li>
  </ul>

  <!-- ---------------Zone A------------------>
  <br>
  <div align="center">
    <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
      <nav class="navbar">
        <div class="col-sm-1">
          <a class="navbar-brand" style="font-size: 20px;color: rgb(149, 147, 147);padding-right: 599px"><B>Super
              Admin</B></a>
        </div>
        <div class="col-xs-2">
            <button *ngIf="isAdmin == true" class="btn btn-rounded btn-outline-danger" (click)="createadmin()" style="width: 120px;height: 40px;font-size: 16px">
              <span class="fa fa-plus" style="font-size: 1em"></span>&nbsp; เพิ่ม</button>
          </div>
      </nav>
      <table class="table table-striped table-sm">
        <thead>
          <tr style="text-align:center;background-color: rgb(243, 179, 179);color: #fff">
            <td>#</td>
            <td>User Name</td>
            <td>First Name</td>
            <td>Last Name</td>
            <!-- <td>Status</td> -->
            <td  *ngIf="isAdmin == true">Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let superadminlist of superadminlists; let i= index">
            <th scope="row" style="text-align:center; width: 100px;"> {{ i+1}}</th>
            <td style="text-align:center; width: 250px;">{{ superadminlist.userName}}</td>
            <td style="text-align:center; width: 250px;">{{ superadminlist.firstName}}</td>
            <td style="text-align:center; width: 250px;">{{ superadminlist.lastName}}</td>
            <!-- <td style="text-align:center; width: 250px;">{{ superadminlist.isAdmin}}</td> -->
            <td *ngIf="authenService.isAdmin == true" style="text-align:center; width: 250px;">
              <a class="btn" (click)="update(superadminlist.id)"><span class="fa fa-edit"
                  style="color:rgb(160, 206, 162);font-size: 1em"></span></a>
              <a class="btn" (click)="remove(superadminlist)"><i class="fa fa-trash"
                  style="color:red;margin-top: -2px"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div align="center">
    <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
      <nav class="navbar">
        <div class="col-sm-6">
          <a class="navbar-brand"
            style="font-size: 20px;color: rgb(149, 147, 147);padding-right: 599px"><B>Admin</B></a>
        </div>
        <div class="col-sm-6" style="padding-left:490px">
        </div>
      </nav>
      <table class="table table-striped table-sm">
        <thead>
          <tr style="text-align:center;background-color: rgb(243, 179, 179);color: #fff">
            <td>#</td>
            <td>User Name</td>
            <td>FirstName</td>
            <td>LastName</td>
            <!-- <td>Status</td> -->
            <td  *ngIf="isAdmin == true">Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let adminlist of adminlists; let i= index">
            <th scope="row" style="text-align:center; width: 100px;"> {{ i+1}}</th>
            <td style="text-align:center; width: 250px;">{{ adminlist.userName}}</td>
            <td style="text-align:center; width: 250px;">{{ adminlist.firstName}}</td>
            <td style="text-align:center; width: 250px;">{{ adminlist.lastName}}</td>
            <!-- <td style="text-align:center; width: 250px;">{{ adminlist.isAdmin}}</td> -->
            <td *ngIf="authenService.isAdmin == true" style="text-align:center; width: 250px;">
              <a class="btn" (click)="update(adminlist.id)"><i class="fa fa-edit"
                  style="color:rgb(160, 206, 162);font-size: 1em;"></i></a>
              <a class="btn" (click)="remove(adminlist)"><i class="fa fa-trash"
                  style="color:red;margin-top: -2px"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- ------------------createzone--------------------- -->

<!-- <ng-template #content let-modal>

</ng-template> -->

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->