<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-calendar/0.2.5/css/calendar.css"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-lg-6">
      <canvas #canvas id="DemoCanvas" style="background: url('./assets/images/KPlan.gif');background-repeat: no-repeat;
background-size: contain;"></canvas>
      <!-- position: fixed; top: -1% -->

    </div>
    <div class="col-lg-6 col-md-8">
      <div class="panel">
        <div class="panel-heading" style="background-color:rgb(255, 255, 255);">
          <div class="row">
            <div class="col-lg-7">
              <img class="img-resize" src="../assets/images/KU_Logo.png" alt="KU_Logo" (click)="login()">
            </div>
            <!-- <label style="margin-right:500px">ระบบจองข้อใช้เครื่องคอมพิวเตอร์</label> -->
            <div>
              <div class="btn-group" style="margin-top:7%">
                <button type="button" class="btn btn-rounded"
                  style="background-color:rgb(79, 204, 37);color: white;width: 150px;"
                  (click)="loginuser()">จองเครื่อง</button>
                <!-- <button class="btn btn-secondary btn-danger" style="width:300px;"
                  (click)="closeschedule()">จัดการการปิดให้บริการ</button> -->
                <button type="button" class="btn btn-rounded" (click)="setadmin()"
                  style="color: rgb(255, 255, 255);width: 150px;background-color: rgb(176, 112, 225)">จัดการการจอง</button>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-body" style="background-color: #ffffff; height: 620px;">
          <!-- <div *ngIf="isFormReady"> -->
          <div *ngIf="mode==0">
            <h6>กรุณาลงชื่อเข้าใช้เพื่อตรวจสอบข้อมูลการจอง</h6>
            <br>
            <form [formGroup]="loginusers">
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="row">
                  <label class="col-md-4">ชื่อผู้ใช้ :</label>
                  <div class="input-group col-md-8" style="width: 250px;">
                    <input type="text" style="height: 40px;margin-top: -3px;" class="btn-rounded form-control"
                      formControlName="userName" placeholder="Username"
                      [ngClass]="{ 'is-invalid': f.userName.touched  && f.userName.errors }">
                    <div *ngIf=" f.userName.touched && f.userName.errors" class="invalid-feedback" style="color: red">
                      <div *ngIf="f.userName.errors.required">กรุณากรอก Username</div>
                    </div>
                  </div>
                </div><br>
                <div class="col-lg-1"></div>
                <div class="row">
                  <label class="col-md-4">รหัสผ่าน :</label>
                  <div class="input-group col-md-8" style="width:250px;">
                    <input type="password" style="height: 40px;margin-top: -3px;" class="btn-rounded form-control"
                      formControlName="password" placeholder="Password"
                      [ngClass]="{ 'is-invalid': f.password.touched  && f.password.errors }">
                    <div *ngIf=" f.password.touched && f.password.errors" class="invalid-feedback" style="color: red">
                      <div *ngIf="f.password.errors.required">กรุณากรอก Password</div>
                    </div>
                  </div>
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-2"></div>
                <button type="button" class="btn btn-rounded"
                  style="width:200px;margin-left: 40px;color: white;background: rgb(176, 112, 225);"
                  (click)="loginemty()">ยืนยันการเข้าใช้ (Empty Seat)
                </button>
                <div class="col-lg-2"></div>
                <button type="button" class="btn btn-rounded"
                  style="width:200px;margin-left: 40px;color: white;background: rgb(176, 112, 225);"
                  (click)="loginhistory()">Login
                </button>
              </div>
            </form>


          </div>
          <div *ngIf="mode==2">
            <div class="row">
              <form [formGroup]="loginusers">
                <!-- <span class="fas fa-user" style="color:rgb(112, 204, 120);font-size: 1.5em;">&nbsp;  -->
                <input class="input1 input-group" formControlName="userName"
                  style="width:50px;color: #5bb75b;background-color: white;margin-left: 520px;font-size: 20px; font-weight: bold"
                  disabled>
                <!-- </span> -->
                <button class="btn btn-rounded btn-outline btn-secondary"
                  style="margin-top:-60px; width: 150px;margin-left: 590px" (click)="logout()">Log Out</button>
              </form>
            </div>

            <br>
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">#</td>
                  <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">Date</td>
                  <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">Time</td>
                  <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">Seat</td>
                  <!-- <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">Period</td> -->
                  <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">Username</td>
                  <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">Action</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let history of histories; let i= index">
                  <th scope="row" style="text-align:center; width: 100px;"> {{ i+1}}</th>
                  <td style="text-align:center; width: 250px;">{{ history.scheduleDate | date: 'dd-MM-yyyy'}}</td>
                  <td style="text-align:center; width: 250px;">{{ history.periodCode}}</td>
                  <td style="text-align:center; width: 250px;">{{ history.seatCode}}</td>
                  <!-- <td style="text-align:center; width: 250px;">{{ history.availablePeriod}}</td> -->
                  <td style="text-align:center; width: 250px;">{{ history.userName}}</td>
                  <td style="text-align:center; width: 250px;">
                    <a style="color:rgb(160, 206, 162)" (click)="showSeatInfo(history)"><span class="fa fa-edit"
                        style="color:rgb(160, 206, 162);font-size: 1em;"></span></a>
                    <a class="btn" (click)="cancel(history)" style="margin-top: -4px"><i class="fa fa-trash"
                        style="color:red"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="isFormReady">
            <form [formGroup]="seatInfoForm">
              <div *ngIf="mode==1">
                <div class="row">
                  <label class="left">วันที่ :</label>
                  <div class="left input-group" style="width:250px;">
                    <input class="btn-rounded form-control" formControlName="scheduleDate" disabled>
                  </div>
                </div><br>
                <div class="row">
                  <label class="left">เวลา :</label>
                  <div class="input-group" style="width:250px;margin-left: 95px">
                    <select class="btn-rounded form-control" type="text" formControlName="periodId" disabled>
                      <option value="">--Select Time--</option>
                      <option [value]="period.id" *ngFor="let period of perioddata">{{period.code}}</option>
                    </select>
                  </div>
                </div><br>
                <!-- <div class="row">
                  <label class="left">จำนวนชั่วโมงที่ต้องการ :</label>
                  <div class="input-group" style="width:250px;margin-left: 66px">
                    <select class="btn-rounded form-control" type="text" formControlName="slots" disabled>
                      <option *ngFor="let hour of timedata" [value]="hour.id">{{hour.hour}}</option>
                    </select>
                  </div>
                </div><br> -->
                <div class="row">
                  <label class="left">หมายเลขเครื่อง :</label>
                  <input class="input1 input-group" formControlName="seatCode"
                    style="width:100px;height: 80px;margin-left: 115px;font-size: 40px;color: #5bb75b;background-color: white "
                    disabled>
                </div>
                <button class="btn btn-rounded"
                  style="width:250px;margin-left: 300px;color: white;background: rgb(79, 204, 37)"
                  (click)="changeSeat()">Change</button>
              </div>
              <!-- <pre>{{seatInfoForm.value | json}}</pre> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------------------modal create-------------------------------------- -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">รายละเอียดผังที่นั่ง</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"><br>
    <form [formGroup]="loginusers">
      <div class="row">
        <label class="left">ชื่อผู้ใช้ :</label>
        <div class="left input-group" style="width:250px;margin-left: 170px">
          <input type="text" class="btn-rounded form-control" formControlName="userName" placeholder="Username"
            [ngClass]="{ 'is-invalid': f.userName.touched  && f.userName.errors }">
          <div *ngIf=" f.userName.touched && f.userName.errors" class="invalid-feedback" style="color: red">
            <div *ngIf="f.userName.errors.required">กรุณากรอก Username</div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <label class="left">รหัสผ่าน :</label>
        <div class="left input-group" style="width:250px;margin-left: 160px">
          <input type="password" class="btn-rounded form-control" formControlName="password" placeholder="Password"
            [ngClass]="{ 'is-invalid': f.password.touched  && f.password.errors }">
          <div *ngIf=" f.password.touched && f.password.errors" class="invalid-feedback" style="color: red">
            <div *ngIf="f.password.errors.required">กรุณากรอก Password</div>
          </div>
        </div>
      </div><br>

      <button type="button" class="btn btn-rounded"
        style="width:250px;margin-left: 300px;color: white;background: rgb(79, 204, 37)"
        (click)="modal.close(login())">จอง
      </button><br><br>
    </form>
  </div>
  <!-- <div class="modal-footer"> -->
  <!-- <button class="btn" (click)="cancle()">Cancle</button> -->
  <!-- </div> -->
  <!-- <pre>{{cancleseat.value | json}}</pre> -->
</ng-template>