.user{
    margin-left: 30px;
  }
  .pass{
    margin-left: 40px;
  }
  .login{
    margin-left: 50px;
  }
  .centered {
    text-align: center;
    font-size: 0;
  }
  .date {
    margin-left: 35px;
  }
  .hour {
    margin-left: 240px;
  }
  .time {
    margin-left: 235px;
  }
  .user1 {
    margin-left: 35px;
  }
  .pass1 {
    margin-left: 235px;
  }
  .but1 {
    margin-left: 65px;
  }
  
    /* .canvas { */
      /* margin-bottom: -5;
      padding: 0px;
      height: auto;
      display: block;
      box-shadow: 3px 3px 1px #ccc;
      -webkit-box-shadow: 3px 3px 1px #ccc;
      -moz-box-shadow: 3px 3px 1px #ccc; */
  /* } */
  
  /* @media only screen and (max-width: 930px) {
    label span {
      font-size: 14px;
    }
    label .fa {
      font-size: 14px;
    }
  } */
  
  
  
  
  /*Content Animation*/
  /* @keyframes fadeInScale {
    0% {
     transform: scale(0.9);
     opacity: 0;
    }
  } */
  
  
  .panel{
    border-radius:0px;
    padding: 0px;
    border: none;
  }
  
  .panel-heading{
    line-height: 1.42857143 !important;
    color: #58666e !important;
  }
  
  .panel-heading,.fc-head{
    padding: 0px;
    background: #F9F9F9;
    padding: 20px;
    padding-left: 430px;
    border-bottom: 3px solid rgb(248, 240, 6);
  }
  .panel-body{padding-bottom: 50px;padding-top: 30px;}
  
  .btn-rounded {
    border-radius: 25px;
  }
  
  .input-rounded{
    border-radius: 25px;
  }
  
  .btn-round1 {
    border-radius: 25px;
  }
  
  .left{
    margin-left: 100px;
  }
  
  .input1{
    border:1px solid white;
  }
  /* .warning:hover {
    background: #ff9800;
    color: white;
  } */
  
  
  /* :focus{outline: none;} */
  
  /* .col-3{float: left; width: 27.33%;     padding: 0px; margin: 40px 3%; position: relative;} 
  input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
  .effect-17{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
  
  .effect-16 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
  .effect-16:focus ~ .focus-border,
  .has-content.effect-16 ~ .focus-border{width: 100%; transition: 0.4s;}
  .effect-16 ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
  .effect-16:focus ~ label, .has-content.effect-16 ~ label{top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;}
  
  .effect-17 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
  .effect-17:focus ~ .focus-border,
  .has-content.effect-17 ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
  .effect-17 ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
  .effect-17:focus ~ label, .has-content.effect-17 ~ label{top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;} */