<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">

<nav class="navbar" style="background-color: #5bb75b;color: #fff;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure; padding-right: 1280px;">สำนักบริการคอมพิวเตอร์</span>
</nav>

<br>
<span class="border"></span>
<!-- <div class="row"> -->

  <div class="col-12">
    <div align="center">
      <div class="row">
        <div class="col-6">
          <div class="btn-group" style="margin-top:-15px;margin-right: 18%" role="group">
            <button class="btn btn-outline-success btn-rounded" style="width:150px;">ประวัติการขอใช้งาน</button>
            <button class="btn btn-outline-danger btn-rounded" style="width:150px;" (click)="adminmanage()">Super
              Admin</button>
          </div>
        </div>
        <div class="col-6">
          <button class="btn" style="background:#fff;margin-left: 50%;margin-top: -1%;" (click)="logout()"><span
              class="fas fa-door-open" style="color:rgb(213, 75, 75);font-size: 1.5em;"></span></button>
        </div>
      </div>
      <!-- <hr style="border-width:3px 10px 20px;" width="70%" color="#5bb75b"> -->
      <br><br>
      <div class="btn-group" style="margin-top:-15px" role="group">
        <!-- <div class="btn-group" style="margin-top:-15px" role="group"> -->
        <button class="btn btn-secondary btn-success btn-rounded" style="width:300px;"
          (click)="reservingadminmanage()">รายงานการจองใช้งาน</button>
        <button class="btn btn-secondary btn-danger active" style="width:300px;"
          (click)="zonestatuspage()">จัดการการปิดให้บริการ</button>
        <button class="btn btn-secondary btn-warning" style="width:300px;color: white;"
          (click)="admin()">จัดการที่นั่ง</button>
        <button class="btn btn-info btn-rounded" style="width:300px;" (click)="device()">จัดการเครื่องคอมพิวเตอร์</button>
        <!-- </div> -->
      </div>
    </div>
    <div class="col-3"></div>
  </div><br><br>
  <!-- <h5>ข้อมูลการจองของท่าน</h5> -->
  <hr style="border-width:3px 10px 20px;margin-top: -15px" color="#5bb75b">

  <div class="col-10" style="margin-left:8.5%;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">ปิดให้บริการ</a>
    </li>
    <button class="btn btn-rounded" (click)="seatstatus()"
    style="background-color: rgb(58, 177, 145);color: #fff;margin-left: 1150px;margin-top: -45px;height: 40px;width: 90px;">
    <span class="fa fa-plus" style="color:rgb(255, 255, 255);font-size: 0.6em"></span>&nbsp; เพิ่ม</button>
  </ul>

  <!-- ---------------Zone A------------------>
  <br>
  <div align="center">
    <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
      <nav class="navbar">
        <div class="col-sm-6">
          <a class="navbar-brand"
            style="font-size: 20px;color: rgb(149, 147, 147);padding-right: 599px"><B>รายการปิดให้บริการ</B></a>
          <!-- <button class="btn btn-outline-warning" style="padding-right: 500px" ><span class="fa fa-plus"
          (click)="open(content)"  style="color:rgb(112, 204, 120);font-size: 1.5em;"></span></button> -->
        </div>
        <!-- <div class="col-sm-6" style="padding-left:400px">
          <button class="btn" (click)="seatstatus()">เพิ่ม</button>
        </div> -->
      </nav>
      <table class="table table-striped table-sm">
        <thead>
          <tr style="background-color: rgb(243, 179, 179);color: #fff">
            <td style="text-align:center;">#</td>
            <td style="text-align:center;">fromDate</td>
            <td style="text-align:center;">toDate</td>
            <td style="text-align:center;">fromPeriodName</td>
            <td style="text-align:center;">toPeriodName</td>
            <td style="text-align:center;">zoneName</td>
            <td style="text-align:center;">seatName</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let zone of zones; let i= index">
            <th scope="row" style="text-align:center; width: 100px;"> {{ i+1}}</th>
            <td style="text-align:center; width: 250px;">{{ zone.fromDate}}</td>
            <td style="text-align:center; width: 250px;">{{ zone.toDate}}</td>
            <td style="text-align:center; width: 250px;">{{ zone.fromPeriodName}}</td>
            <td style="text-align:center; width: 250px;">{{ zone.toPeriodName}}</td>
            <td style="text-align:center; width: 250px;">{{ zone.zoneName}}</td>
            <td style="text-align:center; width: 250px;">{{ zone.seatName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <div *ngIf="mode==1" class="col-12">
    <div align="center"><br>
      <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <h6 class="left" style="font-size:20px;color: rgb(149, 147, 147)">
            <b>ตั้งค่าวันและเวลาที่ต้องการปิดให้บริการ</b></h6>
        </div>
        <hr style="width: 90%;border-width:3px 10px 20px;background-color: yellow;margin-left: 5%">
        <br>
        <div class=" align-items-center">

          <div class="row">
            <label class="col-3">เริ่มวันที่ :</label>
            <div class="input-group" style="width:200px;">
              <input type="date" class="input-rounded form-control">
            </div>

            <label class="col-3">เริ่มเวลา :</label>
            <div class="input-group" style="width:200px;">
              <select class="input-rounded form-control" type="text">
                <option *ngFor="let device of devicetypedata" [value]="device.type">{{device.type}}</option>
              </select>
            </div>
          </div><br>

          <div class="row">
            <label class="col-3">ถึงวันที่ :</label>
            <div class="input-group" style="width:200px;">
              <input type="date" class="input-rounded form-control">
            </div><br>


            <label class="col-3">ถึงเวลา :</label>
            <div class="input-group" style="width:200px;">
              <select class="input-rounded form-control" type="text">
                <option *ngFor="let device of devicetypedata" [value]="device.type">{{device.type}}</option>
              </select>
            </div>
          </div><br>

          <div class="row">
            <label class="col-3">โซน :</label>
            <div class="input-group" style="width:200px;">
              <select class="input-rounded form-control" type="text">
                <option *ngFor="let device of devicetypedata" [value]="device.type">{{device.type}}</option>
              </select>
            </div><br>


            <label class="col-3">ที่นั่ง :</label>
            <div class="input-group" style="width:200px;">
              <select class="input-rounded form-control" type="text">
                <option *ngFor="let device of devicetypedata" [value]="device.type">{{device.type}}</option>
              </select>
            </div>
          </div><br>

        </div>
        <button type="button" class="btn btn-success" style="width:250px;margin-left: 70%"
          (click)="savezone()">บันทึก</button>
      </div>
    </div>
  </div> -->
</div>