.left{
    margin-left: 80px;
  }
  .lefthead{
    margin-left: 10px;
  }
  .TableLine {
    border-top-style: none;
    border-right-style: none;   
    border-bottom-style: none;
    border-style: rounded;
    
    border-left-style: solid;   
    border-left-width: 1px;
    border-left-color: #c2c2c2;
       }

       /* input[type=text] {
        border: 1px solid rgb(55, 194, 62);
      } */
      /* select[type=text] { */
        /* border: 1px solid rgb(55, 194, 62); */
        /* border-radius: 4px; */
      /* } */
      /* span[type=text] { */
        /* border: 1px solid rgb(55, 194, 62); */
        /* background-color: rgb(55, 194, 62) */
      /* } */
    /* ----------btn------------- */
    .btn-rounded {
      border-radius: 25px;
    }
    .input-rounded {
      border-radius: 25px;
    }
    .img-resize {
      width: 64px;
      height: 80px;
      }