<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">

<!-- <nav class="navbar" style="background-color: #5bb75b;color: #fff;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure; padding-right: 1280px;">สำนักบริการคอมพิวเตอร์</span>
</nav> -->

<!-- <br> -->
<span class="border"></span>
<!-- <div class="row"> -->

<div class="col-12">
  <div align="center">
    <div class="row">
      <div class="col-6">
          <img class="img-resize" src="../assets/images/KU_Logo.png"
          alt="KU_Logo" (click)="loginuser()" style="margin-right:50px">
        <div class="btn-group" style="margin-top: 43px;margin-right: 18%" role="group">
          <!-- <button class="btn btn-outline-success btn-rounded" style="width:150px;">ประวัติการขอใช้งาน</button> -->
          <button class="btn btn-outline-danger btn-rounded" style="width:150px;" (click)="adminmanage()">Super
            Admin</button>
        </div>
      </div>
      <div class="col-6" style="margin-top: 2%;">
        <button class="btn" style="background:#fff;margin-left: 40%;margin-top: -1%;" (click)="logout()">ออกจากระบบ<span
            class="fas fa-door-open" style="color:rgb(213, 75, 75);font-size: 1.5em;"></span></button>
      </div>
    </div>
    <!-- <hr style="border-width:3px 10px 20px;" width="70%" color="#5bb75b"> -->
    <br><br>
    <div class="btn-group" style="margin-top:-15px" role="group">
      <!-- <div class="btn-group" style="margin-top:-15px" role="group"> -->
      <button class="btn btn-secondary btn-success btn-rounded" style="width:300px;"
        (click)="reservingadminmanage()">รายงานการจองใช้งาน</button>
      <button class="btn btn-secondary btn-danger" style="width:300px;"
        (click)="closeschedule()">จัดการการปิดให้บริการ</button>
      <button class="btn btn-secondary btn-warning" style="width:300px;color: white;"
        (click)="admin()">จัดการที่นั่ง</button>
      <button class="btn btn-info btn-rounded" style="width:300px;" (click)="device()">จัดการเครื่องคอมพิวเตอร์</button>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-3"></div>
</div><br><br>
<!-- <h5>ข้อมูลการจองของท่าน</h5> -->
<hr style="border-width:3px 10px 20px;margin-top: -15px" color="#5bb75b">

<div class="col-12">
  <div align="center"><br>
    <div class="col-sm-10 shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row">
        <h6 class="left" style="font-size:20px;color: rgb(149, 147, 147)"><b> ข้อมูล รายละเอียดผู้ดูแลระบบ</b></h6>
      </div>
      <hr style="width: 90%;border-width:3px 10px 20px;background-color: yellow;margin-left: 5%">
      <br>

      <form [formGroup]="registerform">
        <div class=" align-items-center">

          <div class="row" style="margin-top: -10px">
            <label class="left">ชื่อ :</label>
            <div class="input-group" style="width:850px;margin-left: 218px">
              <input type="text" class="input-rounded form-control" formControlName="firstName"
                [ngClass]="{ 'is-invalid': f.firstName.touched  && f.firstName.errors }">
              <div *ngIf=" f.firstName.touched && f.firstName.errors" class="invalid-feedback" style="color: red">
                <div *ngIf="f.firstName.errors.required">กรุณากรอกชื่อ</div>
              </div>
            </div>
          </div><br>

          <div class="row" style="margin-top: -10px">
            <label class="left">นามสกุล :</label>
            <div class="input-group" style="width:850px;margin-left: 185px">
              <input type="text" class="input-rounded form-control" formControlName="lastName"
                [ngClass]="{ 'is-invalid': f.lastName.touched  && f.lastName.errors }">
              <div *ngIf=" f.lastName.touched && f.lastName.errors" class="invalid-feedback" style="color: red">
                <div *ngIf="f.lastName.errors.required">กรุณากรอกนามสกุล</div>
              </div>
            </div>
          </div><br>

          <div class="row" style="margin-top: -10px">
            <label class="left">E-mail (username) :</label>
            <div class="input-group" style="width:850px;margin-left: 110px">
              <input type="text" class="input-rounded form-control" formControlName="userName"
                [ngClass]="{ 'is-invalid': f.userName.touched  && f.userName.errors }">
              <div *ngIf=" f.userName.touched && f.userName.errors" class="invalid-feedback" style="color: red">
                <div *ngIf="f.userName.errors.required">กรุณากรอก Username</div>
              </div>
            </div>
          </div><br>

          <div class="row" style="margin-top: -10px">
            <label class="left">รหัสผ่าน :</label>
            <div class="input-group" style="width:850px;margin-left: 182px">
              <input type="text" class="input-rounded form-control" formControlName="password"
                [ngClass]="{ 'is-invalid': f.password.touched  && f.password.errors }">
              <div *ngIf=" f.password.touched && f.password.errors" class="invalid-feedback" style="color: red">
                <div *ngIf="f.password.errors.required">กรุณากรอก Password</div>
              </div>
            </div>
          </div><br>

          <div class="row" style="margin-top: -10px">
            <label class="left">กำหนดสิทธิ์ :</label>
            <div class="input-group" style="width:860px;margin-left: 170px">
              <div class="form-check form-check-inline">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">
                        <input class="form-check-input" type="radio" value="true" formControlName="isAdmin">
                        <label class="form-check-label" for="inlineRadio1" style="font-size:18px">Super Admin</label>
                      </td>
                      <td style="text-align:center;background-color: rgb(160, 206, 162);color: #fff">
                        <input class="form-check-input" type="radio" value="false" formControlName="isAdmin">
                        <label class="form-check-label" for="inlineRadio1" style="font-size:18px">Admin</label>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>&nbsp;
                        เพิ่ม-ลบ
                        แก้ไขข้อมูลผู้ดูแลระบบ
                      </td>
                      <td style="width: 450px;">
                        <span class="fas fa-lock"
                          style="color:rgb(160, 206, 162);font-size: 1em;"></span>&nbsp;&nbsp;เพิ่ม-ลบ
                        แก้ไขข้อมูลผู้ดูแลระบบ
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        กำหนดรหัสผ่านใหม่ของผู้ดูแลระบบ
                      </td>
                      <td style="width: 450px;">
                        <span class="fas fa-lock" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        กำหนดรหัสผ่านใหม่ของผู้ดูแลระบบ
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        เพิ่ม-ลบ และแก้ไขรายละเอียดเครื่องคอมพิวเตอร์หรืออุปกรณ์อื่นๆ
                      </td>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        เพิ่ม-ลบ และแก้ไขรายละเอียดเครื่องคอมพิวเตอร์หรืออุปกรณ์อื่นๆ
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        กำหนด หรือเปลี่ยนตำแหน่งเครื่องคอมพิวเตอร์หรืออุปกรณ์อื่นๆ
                      </td>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        กำหนด หรือเปลี่ยนตำแหน่งเครื่องคอมพิวเตอร์หรืออุปกรณ์อื่นๆ
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        ตั้งค่าการ เปิด-ปิด การให้บริการเครื่องแต่ละเครื่องหรือทั้งโซนได้
                      </td>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        ตั้งค่าการ เปิด-ปิด การให้บริการเครื่องแต่ละเครื่องหรือทั้งโซนได้
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        เรียกดูประวัติการจองเครื่องของผู้ใช้งาน
                      </td>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        เรียกดูประวัติการจองเครื่องของผู้ใช้งาน
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        เรียกดูประวัติการตั้งค่า หรือแก้ไขของผู้ดูแลระบบ
                      </td>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        เรียกดูประวัติการตั้งค่า หรือแก้ไขของผู้ดูแลระบบ
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        สามารถเปลี่ยนที่นั่ง หรือยกเลิกการจองได้
                      </td>
                      <td style="width: 450px;">
                        <span class="fas fa-lock-open" style="color:rgb(160, 206, 162);font-size: 1em;"></span>
                        สามารถเปลี่ยนที่นั่ง หรือยกเลิกการจองได้
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div><br>


        </div>
        <button type="button" class="btn btn-success" style="width:250px;margin-left: 70%"
          (click)="open(content)">บันทึก</button>
      </form>
      <!-- <pre>{{registerform.value | json}}</pre> -->
    </div>
  </div>
</div>
<!-- ----------------------------------------------{{message}}------------------------>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Success</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(news())">OK</button>
  </div>
</ng-template>