<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css"
  integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">

<!-- <nav class="navbar" style="background-color: #5bb75b;color: #fff;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure; padding-right: 1280px;">สำนักบริการคอมพิวเตอร์</span>
</nav> -->

<!-- <br> -->
<span class="border"></span>

<div class="col-12">
  <div align="center">
    <div class="row">
      <div class="col-6">
        <img class="img-resize" src="../assets/images/KU_Logo.png" alt="KU_Logo" (click)="loginuser()"
          style="margin-right:50px">
        <div class="btn-group" style="margin-top: 43px;margin-right: 18%" role="group">
          <!-- <button class="btn btn-outline-success btn-rounded" style="width:150px;">ประวัติการขอใช้งาน</button> -->
          <button class="btn btn-outline-danger btn-rounded " style="width:150px;" (click)="adminmanage()">Super
            Admin</button>
        </div>
      </div>
      <div class="col-6" style="margin-top: 2%;">
        <button class="btn" style="background:#fff;margin-left: 40%;" (click)="logout()">ออกจากระบบ<span
            class="fas fa-door-open" style="color:rgb(213, 75, 75);font-size: 1.5em;"></span></button>
      </div>
    </div>
    <!-- <hr style="border-width:3px 10px 20px;" width="70%" color="#5bb75b"> -->
    <br><br>
    <div class="btn-group" style="margin-top:-15px" role="group">
      <!-- <div class="btn-group" style="margin-top:-15px" role="group"> -->
      <button class="btn btn-secondary btn-success btn-rounded" style="width:300px;"
        (click)="reservingadminmanage()">รายงานการจองใช้งาน</button>
      <button class="btn btn-secondary btn-danger" style="width:300px;"
        (click)="closeschedule()">จัดการการปิดให้บริการ</button>
      <button class="btn btn-secondary btn-warning" style="width:300px;color: white;"
        (click)="admin()">จัดการที่นั่ง</button>
      <button class="btn btn-info btn-rounded active" style="width:300px;"
        (click)="devicepage()">จัดการเครื่องคอมพิวเตอร์</button>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-3"></div>
</div><br><br>
<!-- <h5>ข้อมูลการจองของท่าน</h5> -->
<hr style="border-width:3px 10px 20px;margin-top: -15px" color="#5bb75b">


<div class="col-12">
  <!-- <div align="center"><br> -->
  <div class="col-sm-10 shadow-lg p-3 mb-5 center-block bg-white rounded">
    <div class="row">
      <h6 class="left" style="font-size:20px;color: rgb(149, 147, 147)"><b> ข้อมูล รายละเอียดของเครื่อง</b></h6>
    </div>
    <hr style="width: 90%;border-width:3px 10px 20px;background-color: yellow;margin-left: 5%">
    <br>
    <div *ngIf="isFormReady">
      <form [formGroup]="devices">
        <!-- <div class=" align-items-center"> -->

        <div class="row" style="margin-top: -10px">
          <div class="left"></div>
          <label class="col-2">ชื่อประเภท :</label>
          <div class="input-group" style="width:850px;">
            <select class="input-rounded form-control" type="text" formControlName="name">
              <option *ngFor="let device of devicetypedata" [value]="device.type">{{device.type}}</option>
            </select>
          </div>
        </div><br>

        <div class="row" style="margin-top: -10px">
          <div class="left"></div>
          <label class="col-2">ประเภท :</label>
          <div class="input-group" style="width:850px;">
            <select class="input-rounded form-control" type="text" formControlName="deviceTypeId">
              <option *ngFor="let device of devicetype" [value]="device.id">{{device.name}}</option>
            </select>
          </div>
        </div><br>

        <div class="row" style="margin-top: -10px">
          <div class="left"></div>
          <label class="col-2">Description :</label>
          <div class="input-group" style="width:850px;">
            <input type="text" class="input-rounded form-control" formControlName="description">
          </div>
        </div><br>

        <div class="row" style="margin-top: -10px">
          <div class="left"></div>
          <label class="col-2">IP :</label>
          <div class="input-group" style="width:850px;">
            <input type="text" class="input-rounded form-control" formControlName="ip">
          </div>
        </div><br>

        <div class="row" style="margin-top: -10px">
          <div class="left"></div>
          <label class="col-2">Mac Address :</label>
          <div class="input-group" style="width:850px;">
            <input type="text" class="input-rounded form-control" formControlName="mac">
          </div>
        </div><br>

        <!-- <div class="row" style="margin-top: -10px">
              <label class="left">Asset Code :</label>
              <div class="input-group" style="width:850px;margin-left: 150px">
                <input type="text" class="input-rounded form-control" formControlName="assetCode">
              </div>
            </div><br>

            <div class="row" style="margin-top: -10px">
              <label class="left">ServiceTo :</label>
              <div class="input-group" style="width:850px;margin-left: 162px">
                <input type="date" class="input-rounded form-control" formControlName="serviceTo">
              </div>
            </div><br> -->

        <div class="row" style="margin-top: -10px">
          <div class="left"></div>
          <label class="col-2">Seat :</label>
          <div class="input-group" style="width:850px;">
            <select class="input-rounded form-control" type="text" formControlName="seatId">
              <option *ngFor="let seat of seatdata" [value]="seat.id">{{seat.name}}</option>
            </select>
          </div>
        </div><br>

        <!-- </div> -->
        <div class="row">
          <div class="col-lg-9"></div>
          <button type="button" class="btn btn-success btn-rounded" style="width:200px;"
            (click)="update()">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
  <!-- </div> -->
</div>
<!-- <pre>{{devices.value | json}}</pre> -->